@page
@model Projekt.Pages.Kategorie.DetailsModel

@{
    ViewData["Title"] = "Szczegóły Kategorii";
}
<head>
    <style>
    body {
        background-color: lightblue;
    }   
    </style>
</head>
<h1>Szczegoly</h1>

<h4>Kategorii</h4>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kategoria.Nazwa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kategoria.Nazwa)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">Powrot do listy</a>
</div>
